main {
  padding: 2rem; }

a.navbar-brand {
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Old Standard TT', serif;
  font-size: 1.7rem; }

h3 {
  font-size: 0.5rem;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Old Standard TT', serif; }

h4 {
  font-size: 0.5rem; }

.contenedor {
  display: grid;
  grid-template-columns: 700px 400px;
  justify-content: center;
  padding: 3rem;
  justify-content: space-between; }

img {
  width: 300px;
  height: 450px; }

footer {
  text-align: end; }

a.ig {
  font-size: 1rem; }
